:root {
  font-family: "balboa";
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  margin: 0 0;
  padding: 1rem 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "balboa";
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-family: "balboa";
  font-weight: 200;
  font-size: 2.5rem;
  opacity: 0.2;
  text-align: start;
  margin-bottom: 0;
}

h3 {
  font-family: "balboa";
  font-weight: 700;
  font-size: 1rem;
}

h4 {
  font-family: "balboa";
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.8rem;
  opacity: 0.5;
  text-align: start;
  margin-bottom: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "balboa";
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

header a {
  color: black;
  text-decoration: none;
}

header #centerLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

header .alumInitials {
  text-transform: uppercase;
  filter: grayscale(1);
}

header .underscore {
  text-decoration: underline;
}

header .alumInitials.active {
  text-transform: uppercase;
  filter: grayscale(0);
}

.separatingLine {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.successMessage {
  font-size: 1.1rem;
  color: darkgreen;
  font-weight: bold;
}

/* -------------- COMMUNITY PAGE -------------- */

#community {
  padding-top: 50px;
}

#community h1 {
  text-align: start;
}

#community .filterByYear {
  display: flex;
}

#community .filterByYear ol {
  display: flex;
  list-style: none;
}

#community .filterByYear h3 {
  padding: 2px 5px;
}
#community .filterByYear ol li {
  border: 1px solid black;
  padding: 2px 5px;
  margin: 0 2px;
  font-family: "balboa";
  font-weight: 700;
  font-size: 1rem;
}

#community .filterByYear ol li:hover {
  color: gray;
  cursor: pointer;
}

#community .filterByYear ol li.active {
  background-color: black;
  color: white;
}

#community .cardHolder {
  display: flex;
  margin-top: 30px;
}

#community .cardHolder .alumniCard {
  border: 3px solid black;
  width: 250px;
  height: 350px;
  display: flex;
  margin: 10px;
  padding: 10px 25px 10px 10px;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

#community .cardHolder .alumniCardPrivate {
  /* background-color: purple; */
  background-image: url("/private.svg");
  color: white;
  width: 250px;
  height: 350px;
  display: flex;
  margin: 10px;
  padding: 10px 25px 10px 10px;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

#community .cardHolder .alumniCard .name {
  font-family: "balboa-condensed";
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  line-height: 2.6rem;
  text-align: start;
  height: 200px;
}

#community .cardHolder .alumniCard .bio {
  font-family: "balboa";
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
  text-align: start;
  height: 200px;
}

#community .cardHolder .alumniCard .footer {
  display: flex;
  justify-content: space-between;
  font-family: "balboa";
  color: #888;
  font-weight: 200;
  font-size: 0.8rem;
}

#community .cardHolder .alumniCard .footer .left {
  text-align: start;
}
/* #community .cardHolder .alumniCard .footer .years{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
} */

.modal-alumni-content {
  background: white;
  padding: 40px;
  border-radius: 0px;
  width: 600px;
  max-width: 80%;
  height: 80%;
  border: 3px solid black;
  position: relative;
}

.modal-alumni-content .info-holder {
  display: flex;
  justify-content: space-between;
  text-align: left;
  min-height: 40%;
  padding-top: 20px;
}

.modal-alumni-content .info-holder .name {
  font-family: "balboa";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.modal-alumni-content .info-holder .socials {
  padding-top: 50px;
  display: flex;
  gap: 10px;
}

.modal-alumni-content .info-holder .socials img {
  width: 20px;
}

.modal-alumni-content .info-holder .about {
  font-family: "balboa";
  margin-top: 20px;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.1rem;
  width: 50%;
}

.modal-alumni-content .info-holder .about .personalLinks {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 0.6rem;
}

.modal-alumni-content h3.pastExTitle {
  text-align: start;
}

.modal-alumni-content .exhibition-holder {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden; /* Enable horizontal scroll */
  overflow-y: auto; /* Disable vertical scroll */
  width: 100%;
  height: fit-content;
}

.modal-alumni-content .exhibition-holder .exhibition-card {
  font-family: "balboa";
  font-weight: 400;
  text-align: left;
  margin: 0 20px 20px 0;
  /* border: 1px solid black; */
  width: 150px;
  min-height: 250px;
  font-size: 0.8rem;
  /* flex: 0 0 auto; */
}

.modal-alumni-content .exhibition-holder .exhibition-card img {
  width: 100%;
}

.modal-alumni-content .exhibition-holder .exhibition-card .referenceHolder {
  display: flex;
  gap: 10px;
}

.modal-alumni-content .school {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 10px;
  font-family: "balboa";
  opacity: 0.35;
  font-weight: 200;
  text-align: left;
  font-size: 1rem;
}

/* -------------- ADMIN DASHBOARD PAGE -------------- */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.constructionBanner {
  margin-top: 50px;
  width: 100%;
  height: 1.5rem;
  background-color: #fcee21;
  color: black;
  position: relative;
}

.constructionBanner::before,
.constructionBanner::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.constructionBanner::before {
  left: 0;
  background-image: url("/constructionlines.svg"); /* Replace with your left image path */
}

.constructionBanner::after {
  right: 0;
  transform: translateY(-50%) scaleX(-1);
  background-image: url("/constructionlines.svg"); /* Replace with your right image path */
}

.addUsers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addUsers button {
  border: 1px solid black;
  background-color: white;
  border-radius: 0;
  min-width: 80px;
  font-size: 1.5rem;
  font-family: "balboa";
  font-weight: 400;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "balboa";
  font-weight: 400;
}

.user-table th {
  text-align: left;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #888;
  border-bottom: 1px solid #e5e5e5;
}

.user-table th {
  width: 100px;
}

#adminUserTable.user-table th:last-child {
  visibility: hidden;
}

/* .user-table .highlightUser{
  color: rgb(155, 138, 40);
  border-bottom: 1px solid rgb(155, 138, 40);
  border-top: 1px solid rgb(155, 138, 40);
  /* background: linear-gradient(270deg, rgb(242, 243, 253), #f2e8f7, #e7f1f9, rgb(242, 243, 253));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
} */

.user-table td:first-child {
  text-align: left;
}

.user-table td {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: start;
}

.user-table td:last-child {
  display: flex;
}

.user-table input[type="text"],
.user-table select {
  max-width: 100px;
  overflow: hidden;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  /* appearance: none; Removes the default dropdown styling */
}

.user-table td .yearGroup {
  display: flex;
  align-items: center;
}

.user-table td .yearGroup button.savebtn {
  background-image: url("saveicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px; /* Add height to define the button size for the background */
  font-size: 0.7rem;
  padding: 0;
  margin-left: 5px;
  border: none;
  background-color: white;
  opacity: 0.5;
}

.user-table td .yearGroup button.savebtn:hover {
  opacity: 0.7;
}

.user-table td .yearGroup button.savebtn:active {
  opacity: 1;
}

.user-table select {
  background-color: #fff;
  cursor: pointer;
}

.register-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: lightgray;
  display: inline-block;
}

.register-circle.check {
  background-color: green;
  background-image: url("check.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content button {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 0;
  min-width: 80px;
  font-size: 1.5rem;
  font-family: "balboa";
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form styling */
.modal-content .form-group {
  margin-bottom: 15px;
}

.modal-content label {
  font-family: "balboa";
  font-weight: 700;
  font-size: 0.9rem;
  display: block;
  text-align: left;
  padding: 10px;
  color: #888;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: "balboa";
  font-weight: 200;
  font-size: 1.2rem;
  height: 100px;
  width: 90%;
  resize: none;
  opacity: 0.5;
}

/* -------------- ALUM PAGE -------------- */

.alumPage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alumPage .topNavigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.alumPage .topNavigation .rightGroup {
  display: flex;
  gap: 10px;
}

.alumPage button {
  border: 1px solid black;
  background-color: white;
  padding: 2px 10px;
  margin: 0 2px;
  font-family: "balboa";
  font-weight: 700;
  font-size: 1.2rem;
}

.alumPage .description {
  line-height: 1.1rem;
  font-weight: 400;
  width: 80%;
}

.alumPage button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.alumData {
  padding-top: 60px;
  display: flex;
  font-family: "balboa";
  font-weight: 400;
  max-width: 1400px;
}

.alumData .personal {
  width: 50%;
  text-align: left;
  padding-right: 45px;
}

.alumData .personal .name {
  font-family: "balboa-condensed";
  font-weight: 700;
  font-size: 3.8rem;
  margin: 0;
  padding: 0;
  line-height: 3.9rem;
  text-align: start;
  height: 150px;
}

.alumData .personal .bio,
.alumData .personal .permission {
  width: 80%;

  font-size: 1.3rem;
  line-height: 1.4rem;
}

.alumData .personal .permission {
  padding-top: 10px;
}

.alumData .personal .socials .socialItem,
.alumData .personal .links .linkItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.alumData .exhibitions .exhibitionItem .referenceItem {
  height: 30px;
}
.alumData .exhibitions .exhibitionItem .referenceItem:first-of-type {
  padding-top: 10px;
}

.alumData .personal .socials .socialItem:hover,
.alumData .personal .links .linkItem:hover,
.alumData .exhibitions .exhibitionItem .referenceItem:hover {
  background-color: #ececec;
}

/* Hide the delete button by default */
.alumData .deleteIcon {
  visibility: hidden;
}

.alumData .personal .links .linkItem:hover .deleteIcon,
.alumData .personal .socials .socialItem:hover .deleteIcon,
.alumData .exhibitions .exhibitionItem .referenceItem:hover .deleteIcon {
  visibility: visible;
}

.alumData .personal .socials .socialItem .socialInfo,
.alumData .personal .links .linkItem .linkInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.alumData .personal .socials .socialItem .socialInfo a,
.alumData .personal .links .linkItem .linkInfo a {
  font-style: italic;
}

.alumData .personal .socials .socialItem .socialInfo img {
  height: 25px;
}

.alumData .deleteIcon {
  background-image: url("delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ececec;
  /* display: none; */
}

.alumData .deleteIcon:hover {
  background-color: #ececec;
  rotate: -10deg;
}

.alumData .exhibitions {
  width: 50%;
  text-align: left;
  padding-left: 45px;
}

.alumData .exhibitions .exhibitionItem {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px dashed #888;
  /* justify-content: space-between; */
}

.alumData .exhibitions .exhibitionItem img {
  width: 200px;
  height: fit-content;
}

.alumData .exhibitions .exhibitionItem .references {
  width: 100%;
  padding-left: 20px;
}

.alumData .exhibitions .exhibitionItem .referenceItem,
.alumData .exhibitions .exhibitionItem .referenceInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alumData .exhibitions .exhibitionItem .referenceItem {
  justify-content: space-between;
}

#updateProfileForm textarea {
  opacity: 1;
}

#updateProfileForm .user-table input[type="text"],
#addLinkForm .user-table input[type="text"],
#addSocialMediaLinkForm input[type="text"],
#addReferenceLinkForm .user-table input[type="text"] {
  border: 1px solid #ccc;
  max-width: 100%;
}

#updateProfileForm td {
  position: relative;
}
#updateProfileForm label {
  position: absolute;
  bottom: -40px;
  padding-left: 0;
  line-height: 1rem;
  font-weight: 400;
}

#addExhibitionForm .exhibition-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#addExhibitionForm .exhibition-list .exhibition-item {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: "pointer";
  width: 100px;
  background-color: #fff;
}

#addExhibitionForm .exhibition-list .exhibition-item img {
  width: 100%;
  height: fit-content;
  height: fit-content;
}

#addExhibitionForm .exhibition-list .exhibition-item label {
  font-family: "balboa";
  font-weight: 400;
  font-size: 0.9rem;
  display: block;
  text-align: left;
  padding: 10px 0 0 0;
  color: #888;
}

#addExhibitionForm .exhibition-list .exhibition-item.selected {
  background-color: #d3f9d8;
  border: 1px solid green;
}

/* -------------- NEW ALUM PAGE -------------- */

.alumPage #createProfileForm {
  padding: 0 20%;
}

#createProfileForm .user-table input[type="text"] {
  border: 1px solid #ccc;
  max-width: 100%;
}

#createProfileForm textarea {
  opacity: 1;
  width: 100%;
}

#createProfileForm td {
  position: relative;
}
#createProfileForm label {
  position: absolute;
  bottom: -30px;
  padding-left: 0;
  color: #888;
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 400;
}

#createProfileForm button {
  font-size: 1.5rem;
}
